.resume-container1 {
  background-color: #eeefd7;
  padding: 20px;
}

.center-card {
  background-color: #c7e1f7;
  padding: 20px;
  text-align: center;
}

.emp-info-card {
  margin-top: 20px;
}

.list-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.wwib-text {
  font-size: 18px;
}

